<% breadcrumb :search %>
<%= render "shared/header" %>
  <ul class='item-lists'>
    <% if @category_results[0] != nil%>
      <% @category_results.each do |item|%>
        <li class='list'>
          <%= link_to item_path(item) do %>
            <div class='item-img-content'>
              <%= image_tag item.images[0], class: "item-img" %>
              <% if item.item_purchase != nil %>
                <div class='sold-out'>
                  <span>Sold Out!!</span>
                </div>
              <% end %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.name %>
              </h3>
              <div class='item-price'>
                <span><%= item.price %>円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <h1><span class ="no-items">商品が見つかりませんでした。</span></h1>
    <% end %>
  </ul>
<%= render "shared/footer" %>